<div>  
  <span class="rating"><%= movie.review_average %></span>
  <div class="poster"><%= link_to image_tag(movie.image.thumb), movie_path(movie) %></div>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
 
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h3>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h3>
  <p class="description"><%= movie.description %></p>
</div>