<h1>Rotten Mangoes</h1>

<%= link_to "Submit a movie!", new_movie_path %>

<div id="search"
  <%= form_tag "/movies/search", method: "get" do %>
    <!-- code for previous search feature: -->
   <!--  <%= label_tag(:title, "Search for movie title:") %>
    <%= text_field_tag(:title) %>
    <%= label_tag(:director, "Search for movie director:") %>
    <%= text_field_tag(:director) %> -->
    
    <%= label_tag(:query, "Search for keyword:") %> 
    <%= text_field_tag(:query) %> 

    <%= label_tag(:runtime_in_minutes, "Select duration:") %>
    <%
      options = ['Under 90 minutes', '90-120 minutes', 'Over 120 minutes']
    %>
    <%= select_tag(:runtime_in_minutes, options_for_select(options)) %> 
    <%= submit_tag("Search") %>
  <% end %>
</div>

<div id="movies">
  <% @movies.each do |movie| %> 
    <%= render partial: 'movie', locals: {movie: movie} %>
  <% end %>
</div>

