<h1><%= @user.firstname %> <%= @user.lastname %></h1>

<ul>
  <li>Email: <%= @user.email %></li>
  <li>Reviews by <%= @user.firstname %>:
    <ul> 
      <% @user.reviews.each do |review| %>
      <li><b><%= review.movie.title %>:</b> <%= review.text %> | <%= review.rating_out_of_ten %>/10</li>
      <% end %>
    </ul>
  </li>
</ul>

