<h1><%= @user.firstname %> <%= @user.lastname %></h1>

<ul>
  Email: <%= @user.email %><br/>
  Created at: <%= @user.created_at %><br/>
  <%= link_to "Delete User", admin_user_path(@user), method: :delete, confirm: "You sure?" %>
</ul>

